<div class="container"></div>

  <h1>hello</h1>

  <h1><%= @cocktail.name %></h1>

  <h4>Doses:</h4>
  <ul class="list-group">
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        <%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>

  <div>
  <%= link_to 'add a dose', new_cocktail_dose_path(@cocktail) %>
  </div>

</div>
